<section>
  <div class="bg-white">
    <div class="mx-auto max-w-7xl pt-16 px-4 sm:px-6 lg:pt-16 lg:px-8">
      <p class="text-center text-lg font-semibold text-gray-600">Sponsors</p>
      <div class="mt-6 ">
        <div class="col-span-1 flex justify-center py-8 px-8">
          <a href="https://www.udel.edu/" target="_blank">
          <img class="max-h-24" src="https://user-images.githubusercontent.com/595772/190889692-ca7f916f-e54b-4390-a0c5-4c2d33fc8fa3.jpeg">
          </a>
        </div>
        <div class="col-span-1 flex justify-center py-8 px-8">
          <a href="https://en.itu.dk/" target="_blank">
          <img class="max-h-12" src="https://user-images.githubusercontent.com/595772/190889693-a5744432-039f-4f87-874a-0a3a6fdd5cea.jpeg">
          </a>
        </div>
        <div class="col-span-1 flex justify-center py-8 px-8">
          <a href="https://www.sustech.edu.cn/" target="_blank">
          <img class="max-h-24" src="https://user-images.githubusercontent.com/595772/190889695-9ca86abd-4414-4ca8-b50f-529e76de9061.jpeg">
          </a>
        </div>
        <div class="col-span-1 flex justify-center py-8 px-8">
          <a href="http://come.tju.edu.cn/Home.htm" target="_blank">
          <img class="max-h-24" src="https://user-images.githubusercontent.com/595772/200982158-8d4a4045-3933-47e1-8e29-38b505421460.png">
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>