---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="mx-auto text-center prose prose-{{site.theme-color}}">
  <div>
    <h1>{{site.home-title}}</h1>
  </div>
  {% if site.home-subtitle %}
  <h2>{{site.home-subtitle}}</h2>
  {% endif %}
  {% if site.home-time-location %}
  <p class="text-gray-500 pb-4">{{site.home-time-location}}</p>
  {% endif %}
</div>
</div>


{% include social-media.html %}

{% if site.show-sponsors %}
  {% include sponsors.html %}
{% endif %}

{% include footer.html %}